%p It appears you haven't assigned any requests to #{@team_member.full_name} yet.
%p Click below to view all the open requsts if you think there is a job for #{@team_member.first_name}.
= link_to "View open requests", requests_path, class:'button-tertiary'
._block
  .block_heading Who should I add to my team?
  .block_subtext Homework assignments, presentation slides, contest submissions, vacation photos, and family recipes are just some of the many things you can collect with file requests.