._empty
  %h2 Add a team member
  %p It appears you haven't added any Team Members yet. Let's fixed that by creating a new Team Member below.
  = link_to "Add a new team member", new_team_member_path, class:'button-tertiary'
._block
  .block_heading What kinds of things can I request?
  .block_subtext Homework assignments, presentation slides, contest submissions, vacation photos, and family recipes are just some of the many things you can collect with file requests.
._block
  .block_heading Who can see the files I request?
  .block_subtext Only you can see the files you request, unless you decide to share them.
._block
  .block_heading Where will the files go?
  .block_subtext We’ll create a folder for each request or you can choose one that’s already in your Dropbox.