%p It appears you haven't assigned any team members to #{@request.description} yet. Click below to view all your team members to assing a role.
= link_to "Add a new team member", new_team_member_path, class:'button-tertiary'
._block
  .block_heading Who should I add to request?
  .block_subtext Homework assignments, presentation slides, contest submissions, vacation photos, and family recipes are just some of the many things you can collect with file requests.