._empty
  %h2 Create a job request
  %p It appears you haven't created any requests yet. Let's fixed that by creating a new request below.
  = link_to "Create a new request", new_request_path, class: 'button-tertiary'
._block
  .block_heading What kinds of jobs can I request?
  .block_subtext Installations, refits, defits, servicing and part replacements are just some of the many jobs you can request with <strong>easyinstall.</strong>
._block
  .block_heading Who can see the jobs I request?
  .block_subtext Only you can see the details for the job you request, and the team members that you assign.
._block
  .block_heading Where will the requests go?
  .block_subtext We’ll create a ticket for each request and the team members that you assign will be receive an email.