$dark_gray: #2B2E2E;
$light_gray: #6A7C8F;
$blue: #0070E0;

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

img {
  width: 32px;
  height: 32px;
}

.error {
  font-size: 12px;
  color: red;
  margin: 4px 0 0 0;
  max-width: 400px;
  display: block;
}

.error_notification {
  color: #637282;
  margin: 1rem 0;
  max-width: 400px;
}

.button-tertiary {
  font-size: 13px;
  font-weight: 600;
  background-color: $blue;
  color: #fff;
  border: none;
  border-radius: .1875rem;
  padding: .375rem;
    &:hover {
      color: #fff;
      background-color: #007af5;
    }
}

.button-tertiary-light {
  font-size: 13px;
  font-weight: 600;
  background-color: #eaf0f6;
  border: 1px solid #cbd6e2;
  border: none;
  border-radius: .1875rem;
  color: #506e91;
  padding: .375rem;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 28px;
  min-height: 425px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.page-header__heading {
  display: inline-block;
  font-size: 20px;
  line-height: 32px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  color: #1B2733;
}

.button-block {
  border-top: 1px solid #E6E8EB;
  color: $light_gray;
  padding: 12px 0;
}

.block-header__heading {
  font-weight: normal;
  color: #1B2733;
}

.block_heading {
  font-size: 16px;
  font-weight: normal;
  color: #1B2733;
  margin-bottom: 0;
}

.block_subtext {
  font-size: 12px;
  color: #637282;
  margin: 4px 0 0 0;
  max-width: 400px;
}

.block_label {
  margin-bottom: 12px;
}

#content {
  .page_header {
    strong {
      font-weight: 700;
      color: $blue;
    }
    h1 {
      color: $dark_gray;
      font-size: 4rem;
      font-weight: 300;
      line-height: 5rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

a {
  color: $blue;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}

header {
  background: transparent;
  top: 0;
  width: 100%;
  .header_inner {
    width: 90%;
    margin: 0 auto;
    padding: 1.75rem 0;
    #logo img {
      display: inline-block;
      width: 144px;
      height: auto;
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: $dark_gray;
        font-size: .8rem;
        line-height: 1.5;
        margin-left: 1rem;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

footer {
  border-top: 1px solid #DCE0E0;
  width: 100%;
  p {
    margin: 0;
    font-size: .85rem;
  }
  .footer_inner {
    width: 90%;
    margin: 0 auto;
    #logo img {
      display: inline-block;
      width: 144px;
      height: auto;
      float: left;
    }
    nav {
      float: right;
      a {
        text-decoration: none;
        color: $dark_gray;
        font-size: .8rem;
        line-height: 1.5;
        margin-left: 1rem;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.form-inputs {
  display: table;
    .hint {
      font-size: 12px;
      color: #637282;
      margin: 4px 0 0 0;
      max-width: 400px;
    }
}
.form-actions {
  margin: 12px 0;
}

select, input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="datetime-local"], textarea {
  padding: .5625rem .625rem;
  border-radius: .1875rem;
  border: 1px solid #cbd6e2;
  font-size: 16px;
  font-size: 1rem;
  transition: all .15s ease-out;
  background-color: #f5f8fa;
  color: #33475b;
  display: block;
  height: 2.5rem;
  line-height: 1.375rem;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}