// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#requests {
  li {
    list-style: none;
  }
  .requests_header {
    .new_request {
      display: inline-block;
      float: right;
    }
  }
  .request {
    width: auto;
    display: block;
    border-bottom: 1px solid #E6E8EB;
    position: relative;
    padding: 16px;
      .description {
        display: inline-block;
        margin: 0;
        padding-bottom: 5px;
        letter-spacing: 1px;
        transition: all 0.25s ease 0s;
      }
      .avatar {
        display: inline-block;
        border-radius: 1000px;
        width: 16px;
        height: auto;
      }
      .assigned_to {
        display: inline-block;
        font-size: 12px;
        margin: 0;
        color: #637282;
      }
      .created_at {
        display: inline-block;
        font-size: 12px;
        margin: 0;
        color: #637282;
      }
      .not_assigned {
        display: inline-block;
        font-size: 12px;
        margin: 0;
        padding: 6px;
        background-color: #f7f9fa;
        border-radius: 4px;
        border: 1px solid #e6e8eb;
      }
  }
}

#request_show {
  .request {
    margin-bottom: 2rem;
      .request_block {
        display: inline-block;
        margin-right: 2rem;
      }
  }
  .assigned_to {
    padding-bottom: 10px;
    border-bottom: 1px solid #E6E8EB;
    color: $light_gray;
  }
  h4 {
    font-weight: 600;
    margin: 0;
  }
}

a.view_request {
  display: inline-block;
  border-radius: 4px;
  transition: all 0.25s ease 0s;
  float: right;
  &:hover {
    opacity:.8
  }
}

.tab {
  color: #1B2733;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #1B2733;
}