// Place all the styles related to the TeamMembers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li {
  list-style: none;
}
#team_members {
  .team_members_header {
    .new_team_member {
      display: inline-block;
      float: right;
    }
  }
  .team_member {
    width: auto;
    display: block;
    border-bottom: 1px solid #E6E8EB;
    position: relative;
    padding: 16px;
      .full_name_team_member {
        margin: 0;
        letter-spacing: 1px;
        transition: all 0.25s ease 0s;
      }
      .avatar {
        img {
         margin-right: 1rem;
         float: left;
         display: block;
         -o-object-fit: cover;
         object-fit: cover;
         border-radius: 1000px;
        }
      }
      .created_at {
        display: inline-block;
        font-size: 12px;
        margin: 0;
        color: #637282;
      }
  }
}

#team_member_show {
  .team_member {
    margin-bottom: 2rem;
    width: auto;
    display: block;
    border-bottom: 1px solid #E6E8EB;
    position: relative;
      .team_member_block {
        display: inline-block;
        margin-right: 2rem;
      }
      .full_name_team_member {
        letter-spacing: 1px;
        transition: all 0.25s ease 0s;
      }
      .avatar {
        img {
         margin-right: 1rem;
         float: left;
         display: block;
         -o-object-fit: cover;
         object-fit: cover;
         border-radius: 1000px;
        }
      }
    }
    li {
      border-bottom: 1px solid #E6E8EB;
    }
    li:last-child {
      border: none;
    }
    .request {
      width: auto;
      display: block;
      position: relative;
      padding: 16px;
        .description {
          display: inline-block;
          margin: 0;
          padding-bottom: 5px;
          letter-spacing: 1px;
          transition: all 0.25s ease 0s;
        }
        .avatar {
          display: inline-block;
          border-radius: 1000px;
          width: 16px;
          height: auto;
        }
        .assigned_to {
          display: inline-block;
          font-size: 12px;
          margin: 0;
          color: #637282;
        }
        .created_at {
          display: inline-block;
          font-size: 12px;
          margin: 0;
          color: #637282;
        }
    }
}
h4 {
  font-weight: 600;
  margin: 0;
}

a.view_team_member {
  display: inline-block;
  border-radius: 4px;
  transition: all 0.25s ease 0s;
  float: right;
  &:hover {
    opacity:.8
  }
}